<div class="container" ng-init="init()">
  <div class="row">
    <h1 class="center-align">Welcome,
      {{user.fName}}</h1>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <div ng-if="takenJobbies.length > 0" class="card blue-grey darken-1">
        <div class="card-content white-text center-align">
          <span class="card-title">Manage Your Jobbies</span>
          <ul>
            <li ng-repeat="takenJobbie in takenJobbies">
              <a ui-sref="jobbie({jobbie_id:takenJobbie._id})">{{takenJobbie.title}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div ng-if="postedJobbies.length > 0" class="card blue-grey darken-1">
        <div class="card-content white-text center-align">
          <span class="card-title">Jobbies You've Posted</span>
          <ul>
            <li ng-repeat="postedJobbie in postedJobbies">
              <a ui-sref="jobbie({jobbie_id:postedJobbie._id})">{{postedJobbie.title}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
