<nav class="cyan darken-3" ng-controller="NavbarController">
  <div class="nav-wrapper">
    <a href="home" class="brand-logo center">Jobbies</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li>
        <a ui-sref="feed">Find a Jobbie</a>
      </li>
      <li>
        <a ui-sref="post">Post a Jobbie</a>
      </li>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a ng-show="showLogin" ui-sref="register">Register</a>
      </li>
      <li>
        <a ng-show="showLogin" ng-click="openLoginModal()" href='#loginModal'>Login</a>
        <a ng-hide="showLogin" ng-click="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
