<div>
  <div class="cyan lighten-3 section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Jobbies</h1>
      <div class="row center">
        <h5 class="header col s12 light">a job board for little jobs</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>
</div>
