<div class="container" ng-init="postInit()">
  <div class="row">
    <h1 class="center-align">Post A Jobbie</h1>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input  ng-model="newJobbie.title" id="jobbieTitle" type="text" class="validate">
            <label for="jobbieTitle">Jobbie Title</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input  ng-model="newJobbie.compensation" id="jobbieCompensation" type="text" class="validate">
            <label for="jobbieCompensation">Compensation</label>
          </div><div class="input-field col s6">
            <input  ng-model="newJobbie.estCompletionTime" id="jobbieEstCompletionTime" type="text" class="validate">
            <label for="jobbieEstCompletionTime">How Long Should This Jobbie Take?</label>
          </div>
        </div>
        <div class="row">
        <p>Jobbie Location:</p>
          <div class="input-field col s6">
            <input  ng-model="newJobbie.location[0].address1" id="jobbieAddress1" type="text" class="validate">
            <label for="jobbieAddress1">Address Line 1</label>
          </div>
          <div class="input-field col s6">
            <input  ng-model="newJobbie.location[0].address2" id="jobbieAddress2" type="text" class="validate">
            <label for="jobbieAddress2">Address Line 2(Optional)</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input  ng-model="newJobbie.location[0].city" id="jobbieCity" type="text" class="validate">
            <label for="jobbieCity">City</label>
          </div>
          <div class="input-field col s3">
            <input  ng-model="newJobbie.location[0].state" id="jobbieState" type="text" class="validate">
            <label for="jobbieState">State</label>
          </div>
          <div class="input-field col s3">
            <input  ng-model="newJobbie.location[0].zip" id="jobbieZip" type="text" class="validate">
            <label for="jobbieZip">Zip</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea ng-model="newJobbie.description" id="jobbieDescription" class="materialize-textarea"></textarea>
            <label for="jobbieDescription">Jobbie Description</label>
          </div>
        </div>
        <div class="row">
          <a ng-click="submitJobbie()" class="waves-effect waves-light btn">Submit Jobbie</a>
        </div>
      </form>
    </div>
  </div>
</div>
