<div class="container" ng-init="jobbieInit()">
  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="col s12 m12">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <div class="container">
              <h5>{{jobbie.title}}</h5>
              <div class="row">
                <div class="col s12">
                  <h5>{{jobbie.description}}</h5>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <h5>Compensation:
                    {{jobbie.compensation}}</h5>
                  <h5>Estimation Completion Time:
                    {{jobbie.estCompletionTime}}</h5>
                  <h5>Location:
                    {{jobbie.location[0].address1}}
                    ,
                    {{jobbie.location[0].city}}
                    {{jobbie.location[0].state}}
                    {{jobbie.location[0].zip}}
                  </h5>
                  <h5><a class="white-text" ui-sref="profile({userId:jobbie._employer._id})">Posted By:
                  <a ui-sref="profile({userId: jobbie._employer._id})">{{jobbie._employer.fName}}
                    {{jobbie._employer.lName}}</a>
                  </a></h5>
                  <!-- <h5><a href="https://www.google.com/maps/dir/Rutgers+Business+School,+100+Rockafeller+Rd,+Piscataway+Township,+NJ+08854/260+Jefferson+Dr,+Deerfield+Beach,+FL+33442/@33.1908643,-87.0583361,5z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x89c3c7978a86f6ff:0xef8d9fb92554d0e5!2m2!1d-74.440951!2d40.523317!1m5!1m1!1s0x88d91c5408c180ab:0xe49cdc229da94f44!2m2!1d-80.1478335!2d26.3211385">Directions to This Jobbie</a></h5> -->
                  <!-- <h5><a ng-href="https://www.google.com/maps/dir/{{user.location[0].address1}},{{user.location[0].city}},{{user.location[0].state}},{{user.location[0].zip}} USA/{{jobbie.location[0].address1}},{{jobbie.location[0].city}},{{jobbie.location[0].state}},{{jobbie.location[0].zip}} USA" target="_blank">Directions To This Jobbie</a></h5> -->
                </div>
              </div>
            </div>
            <div class="card-action right-align">
              <a ui-sref="feed">Back To Jobbies</a>
              <a ng-click="acceptJobbie(jobbie._employer._id)">Accept This Jobbie</a>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
