<div id="inboxModal" ng-init="init()" class="modal" ng-controller="MessageController">
  <div class="modal-content">
    <h4 class="center-align">Inbox</h4>
    <div class="row">
      <div class="col s12">
        <div ng-repeat="message in messages">
          <p>{{message.sender}}
            -
            {{message.content}}</p>
        </div>
        <div class="row">
          <form class="col s12">
            <div class="row">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a ng-click="closeModal()" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>
