<div id="inboxModal" ng-init="init()" class="modal" ng-controller="MessageController">
  <div class="modal-content">
    <h4 class="center-align">Inbox</h4>
    <div class="row">
      <div class="col s12">{{message}}
        <div ng-repeat="message in messages">
          <p><a ui-sref="profile({userId:message.senderId})">{{message.sender}}</a>
          -
          {{message.content}}</p><a ng-click= "showReplyInput(message._id)" id="replyLink">Reply</a>
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <textarea class="{{message._id}} materialize-textarea hide" ng-model="content"></textarea>
                  <label for="textarea1" class="{{message._id}} hide">Your Reply</label>
                  <a ng-click="sendMessage(content, message.senderId)" class="{{message._id}} hide waves-effect waves-green btn-flat">Send</a>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <form class="col s12">
            <div class="row">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a ng-click="closeModal()" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>
