<div class="container-fluid" ng-init="feedInit()">
  <div class="row">
    <div class="col s12 m12 l12"></div>
  </div>
  <div class="row">
    <div class="col s12 m12 l3">
      <div class="card-panel teal">
        <div class="card-content white-text">
          <span class="card-title">
            Filter your feed results.
          </span>
          <p>Minimum Pay:</p>
          <p>
            <input ng-click="togglePrice(20)" class="with-gap" name="group1" type="radio" id="price1" ng-model="priceModel.twenty"/>
            <label class="filterLabel" for="price1">20 dollars</label>
          </p>
          <p>
            <input ng-click="togglePrice(50)" class="with-gap" name="group1" type="radio" id="price2" ng-model="priceModel.fifty"/>
            <label class="filterLabel" for="price2">50 dollars</label>
          </p>
          <p>
            <input ng-click="togglePrice(100)" class="with-gap" name="group1" type="radio" id="price3" ng-model="priceModel.hundred"/>
            <label class="filterLabel" for="price3">100 dollars</label>
          </p>
          <p>Category:</p>
          <p>
            <input type="checkbox" id="category1" ng-model="category.yardwork"/>
            <label class="filterLabel" for="category1">Yardwork</label>
          </p>
          <p>
            <input type="checkbox" id="category2" ng-model="category.housework"/>
            <label class="filterLabel" for="category2">Housework</label>
          </p>
          <p>
            <input type="checkbox" id="category3" ng-model="category.handywork"/>
            <label class="filterLabel" for="category3">Handywork</label>
          </p>
          <p>
            <input type="checkbox" id="category4" ng-model="category.misc"/>
            <label class="filterLabel" for="category4">Miscellaneous</label>
          </p>
          <a class="waves-effect waves-light btn" ng-click="resetFilter()">Reset</a>
        </div>
      </div>
    </div>
    <div>
      <div class="col s12 m12 l9">
        <h5>Find Your Next Jobbie!</h5>
        <table class="striped highlight bordered" ng-table="jobbiesTable">
          <tr ng-repeat="jobbie in $data">
            <td data-title="'Title'" sortable="'title'">
              {{jobbie.title}}
            </td>
            <td data-title="'Description'" sortable="'description'">
              {{jobbie.description | limitTo:20 }}<span ng-if="jobbie.description.length > 20">...</span>
            </td>
            <td data-title="'Date Posted'" sortable="'timePosted'">
              {{jobbie.timePosted | date }}
            </td>
            <td data-title="'Employer'" sortable="'employer'">
              {{jobbie._employer.fName}} {{jobbie._employer.lName}}
            </td>
          </tr>
          <tr>

          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
