  <h4> {{userInfo['0'].fName}}'s Profile</h4>
  <div class="row">
    <div class="col s6 m6 l6">
      <p>Jobbies They Have Done:</p>
      <div class="jobbie">
        <ul ng-repeat="jobbieAssigned in jobbiesAssigned">
          <li>Jobbie: {{jobbieAssigned.title}}</li>
          <li>Employer: {{jobbieAssigned._employer.fName}}</li>
        </ul>
      </div>
    </div>
    <div class="col s6 m6 l6">
      <p>Jobbies They Have Offered:</p>
      <div class="jobbie">
        <ul ng-repeat="jobbiePosted in jobbiesPosted">
          <li>Jobbie: {{jobbiePosted.title}}</li>
        </ul>
      </div>
    </div>
  </div>